{
    "search_queries": ["RT to win", "Retweet and win"],
    "search_language": "",
    "follow_keywords": ["follow", "follower"],
    "fav_keywords": ["fav", "favorite"],
    "priority_keywords": ["ps4", "iphone"],
    "consumer_key": "",
    "consumer_secret": "",
    "access_token_key": "",
    "access_token_secret": "",
    "retweet_interval": 600,
    "retweet_random_margin": 60,
    "scan_interval": 5400,
    "clear_queue_interval":43200,
    "max_queue": 60,
    "min_quote_similarity": 0.50,
    "max_quote_depth": 10,
    "rate_limit_update_interval":60,
    "min_ratelimit_percent":10,
    "blocked_users_update_interval": 300,
    "max_follows": 1950,
    "check_mentions_interval": 600,
    "pushbullet_token": ""

}
