{
    "search_queries": ["RT to win", "Retweet and win"],
    "follow_keywords": [" follow ", " follower "],
    "fav_keywords": [" fav ", " favorite "],
    "scan_update_time": 5400,
    "retweet_update_time": 60,
    "rate_limit_update_time": 60,
    "min_ratelimit": 10,
    "min_ratelimit_retweet": 20,
    "min_ratelimit_search": 40,
    "clear_queue_time": 43200,
    "min_posts_queue": 60,
    "blocked_users_update_time": 300,
    "max_follows": 1950,
    "consumer_key": "",
    "consumer_secret": "",
    "access_token_key": "",
    "access_token_secret": ""
}
