-e git+https://github.com/pypa/pipenv.git#egg=pipenv
alabaster==0.7.10
argh==0.26.2
babel==2.5.3
certifi==2018.1.18
chardet==3.0.4
commonmark==0.5.4
coverage==4.5.1
docutils==0.14
freezegun==0.3.10
idna==2.6
imagesize==1.0.0
jinja2==2.10
livereload==2.5.1
markupsafe==1.0
packaging==17.1
pathtools==0.1.2
port-for==0.3.1
pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
pyyaml==3.12
recommonmark==0.4.0
requests-mock==1.4.0
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
sphinx-autobuild==0.7.1
sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
tornado==5.0.1
urllib3==1.22
virtualenv-clone==0.3.0
virtualenv==15.2.0
watchdog==0.8.3
